node_modules
.vercel
# Keep environment variables out of version control
.env

/src/generated/prisma
frontend/playwright-report/
frontend/pw-browsers/
frontend/test-results/
frontend/playwright-test-output.log
frontend/.env.development
frontend/*.log
